.caution {
    border: 1px solid gray;
    margin-bottom: 10px;
    border-radius: 5px;
}

.caution-heading{
    margin: 15px 20px;
}

.caution-list {
    margin: 15px 20px;
    list-style-type: none;
}